{{ define "chat_welcome_sec" }}
	
	<div id="welcome-chat-sec" class="d-flex flex-column justify-content-center align-items-center px-3 h-100 welcome-chat"> 
		<i class='far fa-comments' style='font-size:9rem'></i>
		<h5 class="my-3"><strong>Don't just stalk, send a message!</strong></h5>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</div>

{{ end }}